GOOGLE_API_KEY="your-google-api-key" #same as Gemini key, some libraries use a different name, so I've included both
GEMINI_API_KEY="your-gemini-api-key" #same as Gemini key, some libraries use a different name, so I've included both
LLAMA_CLOUD_API_KEY="your-llama-cloud-api-key"